<html xmlns:th="http://www.thymeleaf.org">
  <head><title>Transparent Login Form with Floating Placeholder</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/loginStyle.css" th:href="@{/css/loginStyle.css}">
  </head>
  <body>
    <div class="box">
      <h2>Registro</h2>
      <form action="#" th:action="@{/save}" th:object="${usuario}" method="post" autocomplete="off">
        <div class="inputBox">
          <input type="text" th:field="*{usunombre}" required>
          <label>Nombres</label>
        </div>
        <div class="inputBox">
          <input type="text" th:field="*{usuapellido}" required>
          <label>Apellidos</label>
        </div>
        <div class="radio-group">
        	<label class="radio">
        		<input type="radio" value="Masculino" th:field="*{usugenero}" required>
        		Hombre
        		<span></span>
        	</label>
        	<label class="radio">
        		<input type="radio" value="Femenino" th:field="*{usugenero}" required>
        		Mujer
        		<span></span>
        	</label>
        </div>
        <div class="inputBox">
          <input type="text" style="width: 68%;" th:field="*{usuemail}" required>
          <p>@platform.com</p>
          <label>Usuario</label>
        </div>
        <div class="inputBox">
          <input type="password" th:field="*{usupassword}" required>
          <label>Contraseña</label>
        </div>
        <div class="inputBox">
          <input type="text" th:field="*{usudetalle}" required>
          <label>Descripción</label>
        </div>
        <input type="submit" name="" value="Registrarse">
        <input type="reset" name="" value="Limpiar">
      </form>
    </div>
  </body>
</html>