<html>
  <head><title>Transparent Login Form with Floating Placeholder</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="static/css/loginStyle.css" th:href="@{/css/loginStyle.css}">
  </head>
  <body>
    <div class="box">
      <h2>Registro</h2>
      <form action="" method="post" autocomplete="off">
        <div class="inputBox">
          <input type="text" name="register_name" required>
          <label>Nombres</label>
        </div>
        <div class="inputBox">
          <input type="text" name="register_lastname" required>
          <label>Apellidos</label>
        </div>
        <div class="radio-group">
        	<label class="radio">
        		<input type="radio" value="male" name="register_gender" required>
        		Hombre
        		<span></span>
        	</label>
        	<label class="radio">
        		<input type="radio" value="female" name="register_gender" required>
        		Mujer
        		<span></span>
        	</label>
        	<label class="radio">
        		<input type="radio" value="other" name="register_gender" required>
        		Otro
        		<span></span>
        	</label>
        </div>
        <div class="inputBox">
          <input type="text" style="width: 68%;" name="register_email" required>
          <p>@platform.com</p>
          <label>Usuario</label>
        </div>
        <div class="inputBox">
          <input type="password" name="register_password" required>
          <label>Contraseña</label>
        </div>
        <div class="inputBox">
          <input type="password" name="confirm_password" required>
          <label>Confirmar Contraseña</label>
        </div>
        <input type="submit" name="" value="Registrarse">
        <input type="reset" name="" value="Limpiar">
      </form>
    </div>
  </body>
</html>